body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #353535;
}
.search-box {
    background: white;
    border-radius: 50px;
    padding: 10px 20px;
    width: 550px;
    position: relative;
}
input {
    border: white;
    font-size: 16px;
    padding: 10px;
}
.search{
    margin-top: 12px;
    width: 20px;
    height: 20px;
}
.mic{
    margin: 0 10px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 490px;
}
.lens{
    margin: 0 10px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 530px;
}
